{
  "environment": "development",
  "logMinLevel": "Verbose",
  "chatBoxAuthentication": {
    "username": "twitch_user_author_of_messages",
    "token": "oauth:012345678901234567890123456789",
    "channels": ["twitch_user_of_channel"]
  },
  "redeemCoin": {
    "id": "6960fa6f-e820-4b56-8ae0-83ba748fa7d8",
    "amount": 1024
  }
}
