{
  "environment": "development",
  "language": "pt",
  "log": {
    "minimumLevel": "Debug",
    "console": {
      "minimumLevel": "Verbose"
    },
    "elasticsearch": {
      "minimumLevel": "Information",
      "index": "cabr0n-application",
      "url": "http://localhost:9200",
      "username": "elastic",
      "password": "password"
    }
  },
  "application": {
    "coinChatBot": {
      "twitchAccount": {
        "username": "username_of_bot",
        "token": "oauth:h61clh25twpbjalf57tt7ka7nxcav2"
      },
      "coins": [
        {
          "id": "coin_1_name_id",
          "name": "coin_1_name_description",
          "channels": [
            "coin_1_channel_1",
            "coin_1_channel_2"
          ],
          "redeems": [
            {
              "id": "coin_1_redeem_1_id",
              "description": "coin_1_redeem_1_id_friendly_description",
              "amount": 1024
            },
            {
              "id": "coin_1_redeem_2_id",
              "description": "coin_1_redeem_2_id_friendly_description",
              "amount": 2048
            }
          ]
        },
        {
          "id": "coin_2_name_id",
          "name": "coin_2_name_description",
          "channels": [
            "coin_2_channel_1"
          ],
          "redeems": [
            {
              "id": "coin_2_redeem_2_id",
              "description": "coin_2_redeem_1_id_friendly_description",
              "amount": 3000
            }
          ]
        }
      ]
    }
  }
}
