{
  "environment": "development",
  "language": "pt",
  "log": {
    "minimumLevel": "Debug",
    "console": {
      "minimumLevel": "Verbose"
    },
    "elasticsearch": {
      "minimumLevel": "Information",
      "index": "log-cabr0n",
      "url": "http://elasticsearch.service:9200",
      "username": "username",
      "password": "password"
    }
  },
  "application": {
    "chatWatcher": {
      "twitchAccount": {
        "username": "twitch_bot_user",
        "token": "oauth:password0oauth0password0oauth0"
      },
      "channels": [
        "sergiocabral_com"
      ],
      "automaticFirstMessagesForTag": {
        "sergiocabral_com": {
          "streamer": [
            "Pessoal, eu acompanho @{0} que faz stream aqui na Twitch. Tendo chance dá uma olhada no conteúdo do canal. Tah aí o !SH na tela...",
            "!sh @{0}"
          ],
          "esposa": [
            "@{0} <3 te amo"
          ]
        }
      },
      "tags": {
        "devnator_com": "me",
        "rosanapcabral": "me",
        "sergiocabral_com": "me",

        "alissonzam": "streamer",
        "AmanditaDev": "streamer",
        "bug_elseif": "streamer",
        "Cerato_cone": "streamer",
        "CodenGate": "streamer",
        "CodingDaughter": "streamer",
        "Daviprm_": "streamer",
        "denLuengo": "streamer",
        "digzom": "streamer",
        "dwtoledo": "streamer",
        "Em1dio": "streamer",
        "FelipeBorba": "streamer",
        "fuskinha": "streamer",
        "guikawashima": "streamer",
        "guiks7": "streamer",
        "gustavodahoradev": "streamer",
        "HenriqueVilelaMusic": "streamer",
        "JeyLAB_Robotica": "streamer",
        "jp_amis": "streamer",
        "juliobezer": "streamer",
        "Kaduzius": "streamer",
        "ladonerd": "streamer",
        "leo_churrasqueiro": "streamer",
        "LINUXtips": "streamer",
        "mmillecm": "streamer",
        "moniquelive": "streamer",
        "morgannadev": "streamer",
        "nempk1": "streamer",
        "NevascaXD": "streamer",
        "oxeChicao": "streamer",
        "pokemaobr": "streamer",
        "Primofrances": "streamer",
        "SalvandoAPrincesa": "streamer",
        "seufernandez": "streamer",
        "vcwild": "streamer",
        "xTecna": "streamer",

        "anotherttvviewer": "bot",
        "aten": "bot",
        "carbob14xyz": "bot",
        "carbon14xyz": "bot",
        "carbot14xyz": "bot",
        "cleaning_the_house": "bot",
        "commanderroot": "bot",
        "creatisbot": "bot",
        "d1sc0rdforsmallstreamers": "bot",
        "deposteron2ml": "bot",
        "disc0rdforsma11streamers": "bot",
        "discord_for_streamers": "bot",
        "discoursed": "bot",
        "guerilla_hoarfare": "bot",
        "iotstreamersbot": "bot",
        "moobot": "bot",
        "music_and_arts": "bot",
        "nightbot": "bot",
        "phantom_309": "bot",
        "pro_gamer_network": "bot",
        "rogueg1rl": "bot",
        "rummages": "bot",
        "sad_grl": "bot",
        "soundalerts": "bot",
        "streamelements": "bot",
        "streamholics": "bot",
        "Streamlabs": "bot",
        "surplused": "bot",
        "tonnages": "bot",
        "XORdroid": "bot",
        "yamickle": "bot"
      },
      "outputFile": "chatWatcherReport.txt"
    },
    "coinChatBot": {
      "twitchAccount": {
        "username": "twitch_bot_user",
        "token": "oauth:password0oauth0password0oauth0"
      },
      "coins": [
        {
          "instanceName": "fireburn",
          "id": "cabr0n",
          "name": "Cabr0n Coin",
          "repositoryUrl": "https://github.com/sergiocabral/Blockchain.Cabr0n",
          "repository": "git@github.com:sergiocabral/Blockchain.Cabr0n.git",
          "directory": "/home/Blockchain.Cabr0n",
          "channels": [
            "sergiocabral_com",
            "devnator_com"
          ],
          "redeems": [
            {
              "id": "6960fa6f-e820-4b56-8ae0-83ba748fa7d8",
              "description": "Free Cash! You redeemed 1024 Cabr0n Coins. Congratulations!",
              "amount": 1024
            }
          ],
          "humanMiner": {
            "mathProblem": {
              "operationCount": 10,
              "minIntegerPart": 100,
              "maxIntegerPart": 999,
              "digits": 2
            }
          }
        }
      ]
    }
  }
}
